.App {
  display: inline;
}



.Todolist{
  margin: 50px;
}

.taskDone{
  text-decoration: line-through;
}

.task{
  font-weight: bold;
}
.taskList{
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn{
  width: 70px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid white;
  margin-inline: 2px;
}

.btnRemoveTask{
  background-image: url("./Bin.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 15px 15px;
  border-radius: 2px;
  border: 1px solid white;
  margin-inline: 2px;
  background-color: white;
  position: absolute;

}

.btnAddTask{
  background-image: url("./plus.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-position: center;
  background-size: 25px 25px;
  border-radius: 2px;
  border: 1px solid white;
  margin-inline: 2px;
  background-color: white;
  position: absolute;
}

.btnRemoveTodo{
  background-image: url('./remove.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-position: center;
  background-size: 25px 25px;
  border-radius: 2px;
  border: 1px solid white;
  margin-inline: 2px;
  background-color: white;
  position: absolute;
}

.btn-activeFilter{
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 15px;
  width: 70px;

}
.input-error{
  border: 2px solid #f66161;
  border-radius: 2px;
  color: #e52e2e;
}
.error{
  color:#f66161;
font-size: 10px;
  margin-top: 0px;
}


.checkbox{

}

.TodolistTitle{
  margin-bottom: 5px;
}